@theme "themes/nord"

configuration {
  modi: "drun";
  show-icons: true;
  drun-display-format: "{name}";
  font: "JetBrains Mono Nerd Font 14";
  lines: 8;
  columns: 2;
  width: 30;
  location: 0;
  terminal: "kitty";
  disable-history: true;
  cycle: true;
  sidebar-mode: false;
}
